
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

* {
  box-sizing: border-box;
}
body  {
  background-image: url("http://www.nhs.uk/Livewell/getting-started-guides/PublishingImages/T_1216_dancing_154388254_A.jpg");
background-repeat: no-repeat;
  background-size: cover;
}


.container {
  padding: 30px;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}


/* Form styles */

.entry-label {
  display: block;
  margin-bottom: 20px;
}

#search-entry {
  margin:1%;
  padding: 10px;
  border-radius: 10px;
}

#js-youtube-search-form button {
  padding: 10px;
  border-radius: 10px;
}


/* Result Grid styles */

#search-results {
  margin-top: 50px;
  text-align: center;
}

.row {
  display: block;
  padding: 30px;

}

.col {
  display: inline-block;
  width: 30%;
  color: black;
  padding-bottom: 5px;
  border: 1px solid;
  text-align: center;
}

.col:hover {
  border: 3px solid black;
}

.see-more a {
  background: white;

  color: black;
  text-decoration: double;
  text-decoration: none;
}

.see-more a:hover {
  font-weight: bold;
}

.pagination {
  padding: 20px;
}

.pagination button {
  padding: 10px;
  border-radius: 10px;
}

.pagination button:hover {
  cursor: pointer;
  font-weight: bold;
}


/* No Result Styles */

#no-results {
  margin-top: 50px;
}

#no-results p {
  font-weight: bold;
}
